:root {
  /* Red shades */
  --clr-red: #E84160; /* Base red color */
  --clr-red-1: #DF2E50; /* Darker shade */
  --clr-red-2: #E85A70; /* Lighter shade */
  --clr-red-3: #F07380; /* Even lighter shade */

  /* White shades */
  --clr-white: #DBD4D3; /* Base white color */
  --clr-white-1: #CFC7C6; /* Slightly darker */
  --clr-white-2: #E3DBDA; /* Slightly lighter */
  --clr-white-3: #EBE4E3; /* Even lighter */

  /* Green shades */
  --clr-green: #387780; /* Base green color */
  --clr-green-1: #2D6670; /* Darker shade */
  --clr-green-2: #429192; /* Lighter shade */
  --clr-green-3: #4AA6A1; /* Even lighter shade */

  /* Yellow shades */
  --clr-yellow: #D2CCA1; /* Base yellow color */
  --clr-yellow-1: #C7BF92; /* Darker shade */
  --clr-yellow-2: #DACB93; /* Lighter shade */
  --clr-yellow-3: #E1D9A4; /* Even lighter shade */

  /* Gray shades */
  --clr-gray: #757780; /* Base gray color */
  --clr-gray-1: #67696F; /* Darker shade */
  --clr-gray-2: #82858A; /* Lighter shade */
  --clr-gray-3: #8F9297; /* Even lighter shade */

  /* Black shades */
  --clr-black: #2D2D2D; /* Base black color */
  --clr-black-1: #1F1F1F; /* Darker shade */
  --clr-black-2: #3D3D3D; /* Lighter shade */
  --clr-black-3: #4B4B4B; /* Even lighter shade */

  --clr-primary: var(--clr-green);
}

