.wrapper{
  border: var(--clr-gray-3) 2px solid;
  border-radius: 20px;
  padding: 1rem;
  background-color: var(--clr-background);
  color: white;
}
.icon_button {
  background-color: var(--clr-background);
  margin: 0.25rem 0.05rem;
  padding: 0 !important;
  color: white;
  border: 1px solid var(--clr-gray-1);
  border-radius: 25%;
  .v-icon{
    font-size: 1.25rem;
  }
  &_link{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--clr-background);
    &_active{
      background-color: var(--clr-green);
      color: var(--clr-white);
    }
  }
  &_mini,
  &_small {
    margin: auto !important;
    min-width: 1.25rem;
    height: 1.25rem !important;
  }
  &_medium,
  &_large {
    min-width: 1.75rem;
    height: 1.75rem !important;
  }
}
.text_button{
  padding: 0.25rem 0.5rem;
  background-color: var(--clr-background);
  color: white;
  border: 1px solid var(--clr-gray-1);
  border-radius: 0.5rem;
  &_small{
    padding: 0.1rem 0.25rem;
    font-size: 0.75rem;
  }
}
.container_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.alert{
  border-radius: 20px;
  background-color: var(--clr-red-3);
  border: var(--clr-red-1) 4px solid;
  .mdi-close-circle:hover{
    color: var(--clr-red-3);
  }
}

.container_button:hover {
  background-color: #1976D2;
  color: #FFFFFF;
}

.no-focus-outline {
  outline: none;
}

.inner_container{
  background-color: var(--clr-black-2);
  padding: 0.5rem 0.25rem;
  border-radius: 0.5rem;
  &_small{
    font-size: 0.85rem;
    padding: 0.1rem;
  }
  &_white{
    background-color: var(--clr-white);
    color: var(--clr-black);
  }
}
.truncate,
.truncate_left{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate_left{
  direction: rtl
}



